.logo {
    width: auto;
    height: 60px;
    text-align: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px !important;
}
.logo-text {
    display: inline-block;
    color: #000;
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: "Open Sans" !important;
    margin-left: 2px !important;
}
p.small{
    font-size: 16pt;
}
.img-circle{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #222 !important;
}
.reveal h3{
    color: #2dcc70;
}
.reveal .img-100{
    max-height: 65vh;
}
.reveal blockquote {
    font-size: 13pt;
    padding: 0;
}
.reveal blockquote p{
    line-height: 5pt;
    font-weight: bold;
    color: #cc0225;
}
.author .img-circle {
    margin: 0;
}
.author {
    font-size: 22pt !important;
}